

body {
    background: url("/sliced-tomato-and-avocado-on-white-plate-1143754.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

